# Python
__pycache__/
*.py[cod]
*$py.class
venv/
.env

# Node
node_modules/
.next/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Mac
.DS_Store

# Project
data/workspaces/*
!data/workspaces/.gitkeep

# Secrets
deploy-fly.sh
.env
.env.local
setup_secrets.ps1